.header{
    width: 100%;
    height: auto;
    background-color: rgb(187, 173, 173);
    color: aliceblue;
    font-size: normal;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    padding: 20px;
    flex-direction: column;
}

.header span{
    font-size: 1.5rem;
    font-weight: bold;
}

.header a{
    text-decoration: none;
    color: antiquewhite;
    padding-left: 1.5rem;
    font-size: 1.2rem;

}

.headerTop{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 90%;
    /* background-color: brown; */

}
.headerBottom{
    display: flex;
    align-items: flex-start;
    /* background-color: green; */
}